:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

h3 {
    color: white;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #2463D5;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 36px !important;
    width: 36px !important;
    right: 40px !important;
    top: 28px !important;
}

/* Color/shape of close button cross */
.bm-cross {
    background: white;
    width: 4px !important;
    height: 32px !important;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #2463D5;
    text-align: right;
    margin: 0 -.5px;
    padding: 6em 1.5em 0;
    font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list a {
    color: #d1d1cc;
    padding: 0.35em .8em;
}

.bm-item-list a:hover {
    color: #b8b7ad;
}

.last {
    padding: .75em .8em 2em !important;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.1) !important;
}