@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

.wrapper {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  padding: 4vh 6vw;
}

.content {
  padding: 2%;
}